/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
/* Blockquotes style
/* Aside - ITS theme
/* mod 19-05-21
/* <s class="aside-hide"></s>
/* <s class="aside-show"></s>
/* <s class="aside-in"></s>
/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰

/*--Blockquote "--*/
.markdown-preview-section blockquote:before{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -.75em;
    margin-top: -.75em;
    opacity: .25;
}
.markdown-preview-view blockquote {
    display: flow-root;
    border: 0px var(--background-modifier-accent);
    background-color: var(--background-secondary);
    border-left-width: 8px;
    border-radius: 5px;
    position: relative;
    margin: 2%;
    padding-right: 35px;
    padding-left: 10px;
    box-shadow: .1em .1em .2em var(--background-modifier-box-shadow);
; /*Don't overlap with "*/
}
.markdown-preview-section blockquote{
    padding: 0 1rem 0 1.5rem;
}

.markdown-preview-view blockquote > :last-child {
    margin-bottom: 10px;}
    .markdown-preview-view blockquote > :first-child {
        margin-top: 15px;}




/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
/*-Comments/Asides-*/
/*Hide Aside and hover to reveal it*/
.aside-hide {
    text-decoration: unset;
    text-align: justify;
    font-style: normal;
    color: transparent;
    font-weight: unset;
    float: right;
    position: relative;
    border-radius: 5px;

    margin: .5em;
    margin-right: -1.8em;
    width: 1.5em;
    height: 1.5em;
    clear: right;
    overflow: hidden;
    background-color: var(--background-primary-alt);
    color: transparent;
}
.aside-hide:before {
    display: block;
    border-bottom: 2px solid var(--background-modifier-border);
    content: "🗨 ";
    color: none;
    border-radius: 5px;
font-style: normal;
    text-shadow: 0 0 0 var(--interactive-accent);
    font-size: 12px;
    padding-top: .1em;
    padding-left: .3em;
}
.aside-hide:hover {
    white-space: normal;
    text-overflow: unset;
    color: unset;
    width: 400px;
    font-style: normal;
    height: unset;
    border-radius: 5px;
    background-color: var(--background-primary-alt);
    padding: 1em;
    padding-top: .5em;
    z-index: 3;
    /*box-shadow: .5em .5em var(--outer-bar);*/
    border-right: 2px solid var(--interactive-accent);
}
/*Show Aside*/
.aside-show {
    text-decoration: unset;
    text-align: justify;
    font-weight: unset;
    float: right;
    position: relative;
    border-radius: 5px;
    font-style: normal;
    margin-right: -25.3em;
    margin-bottom: .2em;
    clear: right;
    width: 400px;
    background-color: var(--background-primary-alt);
    padding: 1em;
    box-shadow: .2em .2em .2em var(--interactive-accent);}
   /* border-right: .2em solid var(--interactive-accent);
    border-bottom: .2em solid var(--interactive-accent);
}

/*Aside Inside the Note*/
.aside-in {
    text-decoration: none !important;
    text-align: justify;
    font-weight: unset;
    float: right;
    border-radius: 5px;
    position: relative;
    margin-bottom: .2em;
    clear: right;
    max-width: 18em;
    font-style: normal;
    width: auto;
    background-color: var(--background-primary-alt);
    padding: 1em;
    box-shadow: .2em .2em .2em var(--interactive-accent);
    z-index: 3;
}

.aside-in .internal-embed.is-loaded:not(.image-embed),
.aside-in .markdown-embed {
    width:100%;
}
/*Shrink Scrollbar*/
.aside > ::-webkit-scrollbar {
    width: 5px;
}

