/*@settings

name: Misc Kustom
id: Kustom
settings:
    - 
        id: title2
        title: General UI
        type: heading
        level: 2
    - 
        id: font-stack-editor
        title: Editor font-family
        type: variable-text
        default: default-editor
    -
        id: font-small
        title: UI font-siz
        type: variable-number
        default: 12
        format: px
    -
        id: text-align
        title: General text-align
        type: variable-select
        default: justify
        options:
            - center
            - left
            - right
            - justify
    -
        id: Editor-title
        title: Editor configuration 
        type: heading
        level: 2
    -
        id: color-shade
        title: Markdown rendering Color
        type: variable-select
        default: var(--text-normal)
        options:
            -  var(--text-normal)
            -  var(--text-muted)
            -  var(--text-accent)
    -
        id: color-footnote
        title: Footnote rendering Color
        type: variable-select
        default: var(--text-normal)
        options:
            - var(--text-normal)
            - var(--text-muted)
            - var(--text-accent)
    -
        id: ed-family
        title: In brackets font-family
        type: variable-text
        default: 'Victor Mono'
    -
        id: ed-style
        title: In brackets font-style
        type: variable-select
        default: normal
        options:
            - italic
            - normal
    -
        id: cd-title
        title: Code Editor
        type: header
        level: 3
    -
        id: cd-font
        title: Code font-family
        type: variable-text
        default: 'Victor Mono'
    -
        id: cd-style
        title: Code-inline font-style
        type: variable-select
        default: normal
        options:
            - italic
            - normal
    -
        id: cd-color
        title: Code Color
        type: variable-select
        default: var(--text-normal)
        options:
            - var(--text-normal)
            - var(--text-muted)
            - var(--text-accent)
    -
        id: td-title
        title: Tag Editor
        type: heading
        level: 3
    -
        id: td-font
        title: Tag font-family
        type: variable-text
        default: 'Victor Mono'
    -
        id: td-style
        title: Tag font-style
        type: variable-select
        default: normal
        options:
            - italic
            - normal
    -
        id: td-dec
        title: Tag decoration
        type: variable-select
        default: none
        options:
            - none
            - underline
    -
        id: id-title
        title: Editor i-links
        type: heading
        level: 3
    -
        id: id-font
        title: Internal link font-family
        type: variable-text
        default: 'Victor Mono'
    -
        id: id-style
        title: Internal link font-style
        type: variable-select
        default: normal
        options:
            - italic
            - normal
    -
        id: id-dec
        title: Internal link decoration
        type: variable-select
        default: none
        options:
            - none
            - underline
    -
        id: pre-title
        title: Preview style
        type: heading
        level: 2
    -
        id: pc-title
        title: Code Preview
        type: heading
        level: 3
    -
        id: pc-font
        title: Code font-family
        type: variable-text
        default: 'Victor Mono'
    -
        id: pc-style
        title: Code-inline font-style
        type: variable-select
        default: normal
        options:
            - italic
            - normal
    -
        id: pc-color
        title: Code Color
        type: variable-select
        default: var(--text-normal)
        options:
            - var(--text-normal)
            - var(--text-muted)
            - var(--text-accent)
    -
        id: pc-weight
        title: Weight Code
        type: variable-number
        default: 500
    -
        id: tp-title
        title: Tag Preview
        type: heading
        level: 3
    -
        id: tp-font
        title: Tag font-family
        type: variable-text
        default: 'Victor Mono'
    -
        id: tp-style
        title: Tag font-style
        type: variable-select
        default: normal
        options:
            - italic
            - normal
    -
        id: tp-dec
        title: Tag decoration
        type: variable-select
        default: none
        options:
            - none
            - underline
    -
        id: ip-title
        title: Preview i-links
        type: heading
        level: 3
    -
        id: ip-font
        title: Internal link font-family
        type: variable-text
        default: 'Victor Mono'
    -
        id: ip-style
        title: Internal link font-style
        type: variable-select
        default: normal
        options:
            - italic
            - normal
    -
        id: ip-dec
        title: Internal link decoration
        type: variable-select
        default: none
        options:
            - none
            - underline
    -
        id: ep-title
        title: External links
        type: heading
        level: 3
    -
        id: ep-font
        title: External link font-family
        type: variable-text
        default: 'Victor Mono'
    -
        id: ep-style
        title: External link font-style
        type: variable-select
        default: normal
        options:
            - italic
            - normal
    -
        id: ep-dec
        title: External link decoration
        type: variable-select
        default: none
        options:
            - none
            - underline
    - 
        id: mp-title
        title: Mermaid Preview
        type: heading
        level: 3
    -
        id: mp-font
        title: Mermaid  font-family
        type: variable-text
        default: 'Victor Mono'
    -
        id: mp-c
        title: Mermaid font-color
        type: variable-select
        default: var(--text-normal)
        options:
            - var(--text-normal)
            - var(--text-muted)
            - var(--text-accent)
    - 
        id: mgp-title
        title: Mermaid Graphs Preview
        type: heading
        level: 4
    -
        id: mp-s
        title: Node stroke
        type: variable-number
        default: 0
    -
        id: mp-fc
        title: Node fill color
        type: variable-color
        opacity: true
        format: hex
        alt-format:
            -
                id: accent-rgb
                format: rgb
        default: '#007AFF'
    -
        id: mp-sw
        title: Node stroke width
        type: variable-number
        default: 0
*/


:root{
    --default-editor: var(--text-editor);
    --normal: var(--text-normal);
    --muted: var(--text-muted);
    --accent: var(--text-accent);
}

/*-------------------------------------*/
/*Small font UI*/
/*-------------------------------------*/
.outline,
.outline .pane-empty,
.outline .collapsible-item-self,
.search-input-container input,
.side-dock-collapsible-section-header,
.search-result-file-title,
.search-empty-state,
.search-input-container input::placeholder,
.is-collapsed .search-result-file-title,
.workspace-leaf-content .search-input,
.footnotes-list,
.frontmatter-container,
.frontmatter-container .frontmatter-container-header,
.markdown-preview-section .frontmatter code,
.graph-controls .setting-item-name,
.vertical-tab-nav-item,
.frontmatter-container .tag,
.cm-s-obsidian .cm-hmd-frontmatter,
.cm-s-obsidian span.cm-hashtag,
.cm-s-obsidian pre.HyperMD-footnote,
.nav-file-title,
.tree-item-self,
.nav-folder-title,
.tag-pane-tag,
.tooltip,
.document-search-button,
.workspace > .workspace-split:not(.mod-root) .CodeMirror,
.workspace > .workspace-split:not(.mod-root) .markdown-preview-view,
.document-search-button,
.cm-s-obsidian pre.HyperMD-footnote {
  font-size:var(--font-small) !important;
}

/*-------------------------------------*/
/*Editor font*/
/*-------------------------------------*/
.markdown-source-view,
.cm-s-obsidian .cm-formatting-hashtag, 
.cm-s-obsidian {
  font-family:var(--font-stack-editor) !important;
}

/*-------------------------------------*/
/* _hyphenation_and_justification      */
/*-------------------------------------*/

.cm-s-obsidian, .markdown-preview-view {
    text-align: var(--text-align);  }




/*-------------------------------------*/
/* markdown rendering  color */
/*-------------------------------------*/
.cm-s-obsidian pre.HyperMD-footnote span.cm-link.cm-hmd-footnote.cm-formatting {
    color: var(--color-footnote) !important;}

.cm-s-obsidian span.cm-formatting-link, .cm-s-obsidian span.cm-formatting-image.cm-link, .cm-s-obsidian span.cm-formatting-link-string.cm-url.cm-string {
    color: var(--color-shade) !important;}


/*-------------------------------------*/
/*EDITOR MODE*/
/*-------------------------------------*/

/*editor tag*/
.cm-s-obsidian span.cm-hashtag {
    text-decoration: var(--td-dec);
    font-style: var(--td-style);
    color: var(--accent-80);
    font-family: var(--td-font)!important;
    font-size: var(--text-normal)!important;
}

/*INTERNAL LINKS*/
.cm-s-obsidian span.cm-hmd-internal-link {
    color: var(--text-accent);
    font-style: var(--id-style);
    text-decoration: var(--id-dec);
    font-family: var(--id-font);
  }

  /*LINK TO NO PAGE*/
      /*Link to No Page*/
.markdown-preview-view .internal-link.is-unresolved {
    opacity: 1;
    color: var(--shade-50);
}
.markdown-preview-view .internal-link.is-unresolved:hover {
    color: var(--accent-50);
}
/*EXTERNAL LINKS*/
/*Link in parentheses*/
.cm-s-obsidian span.cm-url {
    color: var(--shade-50)!important;
    text-decoration: none;
}

/*FOOTNOTE*/
/* editor footnote link*/
.cm-s-obsidian span.cm-link {
	color: var(--accent-80);
	font-family: var(--ed-family);
    font-style: var(--ed-style);
	font-size: var(--font-normal);
;
}

/*CODE*/
/* code editor */
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian pre.HyperMD-codeblock {
	color: var(--cd-color);
	font-family: var(--cd-font);
}
/*INLINE CODE*/
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight){
    font-style: var(--cd-style)!important;}





  /*PREVIEW*/
/*TAGS*/
.tag{
	font-family: var(--tp-font);
	text-decoration:var(--tp-dec)!important;
	font-style: var(--tp-style);}
    
    
/*INTERNAL LINKS*/

.links-int-on .markdown-preview-view .internal-link,
.markdown-preview-view .internal-link {
	font-family: var(--ip-font);
	text-decoration:var(--ip-dec)!important;
	font-style: var(--ip-style);
}

/*EXTERNAL LINKS*/
.links-ext-on .external-link,
.external-link {
	font-family: var(--ep-font);
	text-decoration:var(--ep-dec)!important;
	font-style: var(--ep-style);}


/*CODE*/
/*CODE PREVIEW*/

.markdown-preview-view code {
    color: var(--pc-color);
    font-family: var(--pc-font)!important;
    font-style: var(--pc-style);
    font-weight: var(--pc-weight);}
/*-------------------------------------*/

/*Mermaid*/
  
 
.node rect,
.node circle,
.node ellipse,
.node polygon,
.node path {
  fill: var(--mp-fc) !important;
  stroke: var(--mp-s) !important;
  stroke-width: var(--mp-sw)    !important;
  padding: 0px!important;
}

.label {
  font-family:var(--mp-font) !important;
  color: var(--mp-c) !important;
  padding: 0px!important;

}
