/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
/* Blockquote
/* mod 19-05-21 -  vainille
/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
/*--Blockquote "--*/
.markdown-preview-section blockquote:before{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -.75em;
    margin-top: -.75em;
    opacity: .25;
}
.markdown-preview-view blockquote {
    display: flow-root;
    border: 0px var(--background-modifier-accent);
    background-color: var(--background-secondary);
    border-left-width: 8px;
    border-radius: 5px;
    position: relative;
    margin: 2%;
    padding-right: 35px;
    padding-left: 10px;
    box-shadow: .1em .1em .2em var(--background-modifier-box-shadow);
; /*Don't overlap with "*/
}
.markdown-preview-section blockquote{
    padding: 0 1rem 0 1.5rem;
}

.markdown-preview-view blockquote > :last-child {
    margin-bottom: 10px;}
    .markdown-preview-view blockquote > :first-child {
        margin-top: 15px;}


