/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
/* CONTENT:  
  Tables: modified preview table, row coloring, sorting buttons style.
  TABLE CLASSES: INVISIBLE and LATEX STYLE
modified: 22-07-21
/* ------------------------------------
GENERAL TABLE
/* ------------------------------------*/
.markdown-preview-view table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100% !important;
    overflow-x: visible;
    white-space:pre-line !important;
    width: 100%;
    text-align: center;
}

.table-view-table>thead>tr>th {
    font-size: small !important;
}
/* Dataview table row coloring and highlighting */
tbody tr:hover {
    border-color: rgb(149, 213, 234);
    border-style: solid;
    border-width: 2px;
}

tr:nth-child(even) {
    background-color: rgba(136, 192, 208, 0.1);
}

/* Buttons Plugin styling */
.dataview-button {
    background-color: transparent;
    border-color: rgb(149, 213, 234);
    border-style: solid;
    border-width: thin;
    color: var(--text-accent);
    font-size: 11px;
    font-weight: bold;
    padding: 5px 15px;
}

/* ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
To make tables on the current page invisible, use:
   cssclass: invisible-tables
   in your frontmatter. */
.markdown-preview-view.invisible-tables table {
    border-color: none;
    border-width: 0;
}

.markdown-preview-view.invisible-tables th {
    background-color: transparent;
    border: none;
    padding: 0px !important;
    text-align: center;
    color: var(--text-accent);
    font-weight: bolder;
}

.markdown-preview-view.invisible-tables td {
    border: none;
    padding: 0px !important;
}

.markdown-preview-view.invisible-tables tr:nth-child(odd) {
    background-color: var(--background-primary) !important;
}

.markdown-preview-view.invisible-tables tr:nth-child(even) {
    background-color: var(--background-primary) !important;
}

/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
/* Latex table 
cssclass: academia
/* ------------------------------------*/
.academia table {
    border-bottom: 2.27px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2.27px solid black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    max-width: 150%;
    overflow-x: auto;
    white-space: pre-wrap;
    width: auto;
}

.academia th,
.academia td {
    border: 0 none !important;
    line-height: 1.1;
    padding: 0.5rem;
    text-align: left;
}

.academia tr:hover,
.academia td:hover {
    background-color: var(--shade-5);
    color: var(--text-normal);
}

.academia table>tbody>tr:first-child>td,
.academia table>tbody>tr:first-child>th {
    border-top: 1.36px solid var(--color-black-rgb) !important;
}

.academia table>tbody>tr:last-child>td,
.academia table>tbody>tr:last-child>th {
    border-bottom: 1.36px solid var(--color-black-rgb) !important;
}

.academia thead th {
    background-color: var(--background-modifier-accent) !important;
    font-weight: 700;
}

.academia tr:nth-child(even) {
    background-color: var(--background-primary-alt);
}
