 
/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
/*VAINILLA
S T Y L E 
-nav pane
-tag pane
-bullet tags
-header line
-quotes
mod from its-theme 20-05-21
using california coast colors
/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰*/

:root{
	--color-black-rgb: 15, 17, 26;
	--color-white-rgb: 229,233,240;
    --text-selection: hsl(var(--accent-h), var(--accent-s), 90%);
      
}
.theme-light,
.theme-dark {
    --accent-90: hsla(var(--accent-hsl), 0.9);
    --accent-80: hsla(var(--accent-hsl), 0.8);
    --accent-70: hsla(var(--accent-hsl), 0.7);
    --accent-60: hsla(var(--accent-hsl), 0.6);
    --accent-50: hsla(var(--accent-hsl), 0.5);
    --accent-40: hsla(var(--accent-hsl), 0.4);
    --accent-30: hsla(var(--accent-hsl), 0.3);
    --accent-20: hsla(var(--accent-hsl), 0.2);
    --accent-10: hsla(var(--accent-hsl), 0.1);
    --accent-5: hsla(var(--accent-hsl), 0.05);
    --accent-3: hsla(var(--accent-hsl), 0.03);
    --accent-2: hsla(var(--accent-hsl), 0.02);
}


/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
NAV FOLDER from ITS-THEME
/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰


/*Nav Folder/File Icons*/
.nav-folder-children .nav-folder-title-content::before {
    content: '📁'/*\1F5BF*/;
    color: transparent;
    text-shadow: 0 0 0 var(--accent-80);
    margin-right: 4px;
    font-size: .9em;
}
.nav-folder-children .nav-file-title-content::before {
    content: "📄"/*\1F5D0*/;
    color: transparent;
    text-shadow: 0 0 0 var(--shade-80);
    margin-right: 5px;
    font-size: .85em;
}


/*Inactive Folder Color*/
.is-collapsed .nav-folder-title-content:before {
    text-shadow: 0 0 0 var(--accent-30);
}

/*Nav Folder Lines*/
.nav-folder, .nav-file {
    margin: 0 -2px;
    margin-right: 0px;
    border-left: 1px solid var(--accent-20);
}
/*Align Folder Line*/
.nav-folder-children {
    padding-left: 18px;
}
/*Nav Hover Line Colors*/
.nav-folder:hover,
.nav-file:hover {
    border-color: var(--accent-70);
}

/*Text wrap*/
.nav-file-title, .nav-folder-title {
    white-space: normal;
    width: auto;
    border-radius: 15px;
    border: 0;
}

/*Folder Bold*/
.nav-folder-title-content {
    font-weight: 600;
}

/*Folder Push Left*/
.nav-folder-title {
    padding-left: 4px;
}
.nav-folder-title:hover {
    color: var(--accent-90) !important;
}

/*File Colors|File Under Folder*/
.nav-file-title {
    padding-left: 1.8%;
    color: var(--shade-70);
}
.nav-file-title:hover {
    color: var(--accent-50) !important;
    font-weight: 600; 
}
.nav-folder-children .nav-file-title-content::before{
    text-shadow: 0 0 0 var(--shade-50);
}


/*File selected*/
.nav-file-title.is-active {
    background-color: var(--accent-40);
    color: var(--fg);
}

/*Dragged*/
.nav-folder-title.is-being-dragged-over {
    border:none;
    border-radius: 15px;
}

/*Arrows*/
.nav-folder .collapse-icon {
    display: none;
}

/*Word Wrap Pane*/
.tree-item-inner {
    word-wrap: break-word;
    width: 100%;
}




/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
TAG PANE from ITS-THEME

/*--Tag Pane--*/
/*Text*/
.tree-item-self {
    color: var(--shade-80);
    border-radius: 25px;
}
.tag-container .tree-item-self:hover {
    color: var(--accent-90);
}

/*Tag Pane Lines*/
.tag-container .tree-item-children {
    margin-left: .7em;
    border-left: 1px solid var(--accent-50);
    border-bottom: 1px solid var(--shade-2);  /*Removes Dot!!*/
    transition: all 0.5s ease-in-out;
    padding: 0;
}

.tag-container .tree-item-children:hover {
    border-left: 1px solid var(--accent-70);
}

/*Outline*/
/*Set Outline Padding*/
.outline {
    margin: .2em .5em;
    user-select: text;
}
/*Outline Pane Lines*/
.outline .tree-item-children {
    margin-left: .7em;
    border-left: 1px solid var(--accent-50);
    transition: all 0.3s ease-in-out;
    padding: 0;
}
.outline .tree-item-children:hover {
    border-color: var(--accent-90);
    border-radius: 20px;
}




/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
/*TAGS*/

.tag {
    background-color: var(--accent-20);
    border: 0px  var(--accent-50);
    border-radius: 5px;
    color: var(--accent-90);
    font-size: calc(var(--font-normal) - 1px) !important;
    padding: 15px 15px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
}

/*Hover Underline*/

.markdown-preview-section a.tag:hover{
    background-color: var(--accent-50);
text-shadow:none !important;
    box-shadow:-1px -1px 0 hsl(var(--accent-20)),-1px -1px 0 hsl(var(--accent-20)),-1px -1px 0 hsl(var(--accent-20));

}
.tag:hover {
    color: rgb(var(--background-rgb))!important;
    text-decoration: none!important;
    font-weight:400;
}
/*Editor Tags*/
.cm-s-obsidian span.cm-hashtag {
    text-decoration: none;
    color: var(--accent-80);
    
}
.cm-s-obsidian span.cm-hashtag:hover {
    text-decoration: none;
}



/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
/*H E A D E R L I N E

/*Heading Line*/
h1:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to right, var(--background-primary), var(--accent-50), var(--background-primary));
    left: 0;
}

h2:after {
    content: "";
    display: block;
    width: 85%;
    height: 3px;
    background-image: linear-gradient(to right, var(--accent-50), var(--background-primary));
    left: 0;
}

h3:after {
    content: "";
    display: block;
    width: 65%;
    height: 3px;
    background-image: linear-gradient(to right, var(--accent-50), var(--background-primary));
    left: 0;
}

h4:after {
    content: "";
    display: block;
    width: 40%;
    height: 3px;
    background-image: linear-gradient(to right, var(--accent-50), var(--background-primary));
    left: 0;
}

h5:after {
    content: "";
    display: block;
    width: 30%;
    height: 3px;
    background-image: linear-gradient(to right, var(--accent-50), var(--background-primary));
    left: 0;
}

h6:after {
    content: "";
    display: block;
    width: 25%;
    height: 3px;
    background-image: linear-gradient(to right, var(--accent-50), var(--background-primary));
    left: 0;
}



/*Editor Heading Lines*/
.cm-s-obsidian pre.HyperMD-header:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: var(--accent-30);
    left: 0;
}





/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
Line gradient mod vainilie
▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰*/

  
  h1 {
    text-align: center;
  }

  
  .markdown-preview-view hr {
    margin-block-start: 4em;
    margin-block-end: 4em;
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, var(--background-primary), var(--accent-50), var(--background-primary));
  }
  
  .markdown-preview-view hr::after {
    content: '§';
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    transform-origin: 50% 50%;
    padding: 0.5rem;
    color: var(--text-accent);
    background-color: var(--background-primary);
  }
  

  /*/*/
 /*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
/* Blockquote
/* mod 19-05-21 -  vainille
/*▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
/*--Blockquote "--*/
.markdown-preview-section blockquote:before{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -.75em;
    margin-top: -.75em;
    opacity: .25;
}
.markdown-preview-view blockquote {
    display: flow-root;
    border: 0px var(--background-modifier-accent);
    background-color: var(--background-secondary);
    border-left-width: 8px;
    border-radius: 5px;
    position: relative;
    margin: 2%;
    padding-right: 35px;
    padding-left: 10px;
    box-shadow: .1em .1em .2em var(--background-modifier-box-shadow);
; /*Don't overlap with "*/
}
.markdown-preview-section blockquote{
    padding: 0 1rem 0 1.5rem;
}

.markdown-preview-view blockquote > :last-child {
    margin-bottom: 10px;}
    .markdown-preview-view blockquote > :first-child {
        margin-top: 15px;}


