/*
      .o8             o8o  oooo                                             .             
     "888             `"'  `888                                           .o8             
 .oooo888   .oooo.   oooo   888  oooo    ooo      ooo. .oo.    .ooooo.  .o888oo  .ooooo.  
d88' `888  `P  )88b  `888   888   `88.  .8'       `888P"Y88b  d88' `88b   888   d88' `88b 
888   888   .oP"888   888   888    `88..8'         888   888  888   888   888   888ooo888 
888   888  d8(  888   888   888     `888'          888   888  888   888   888 . 888    .o 
`Y8bod88P" `Y888""8o o888o o888o     .8'          o888o o888o `Y8bod8P'   "888" `Y8bod8P' 
                                 .o..P'                                                   
                                 `Y8P'                                                    
        for: obsidian.md
        by: vainille
        date: 21-07-2021
Adapted from:
    * progress bar --> https://codepen.io/AbdulrahmanMasoud/pen/oNgKoxj
    * typography --> https://codepen.io/kvendrik/pen/nfjas
Tools:
    * neumorphism style --> https://neumorphism.io/    
    */
/*colors*/
.theme-light {
        --main--b: #e5e9f0;
        --main--c: #0f111a;
        --main-darken: #cccfd6;
        --main-lighten: #feffff;
  }
.theme-dark {
        --main--b: #0f111a;
        --main--c: #e5e9f0;
        --main-darken: #06070a;
        --main-lighten: #202020!important;
  }
/* ▰▰▰ TITLE ▰▰▰*/
.daily {
        align-items: center;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: .5em;
        justify-content: space-between;
        padding: 0em;
        text-align: center;
        width: 100%;
  }
.daily .todayday {
        -webkit-background-clip: text;
        background-clip: text;
        background-image: url(http://media-cache-ak0.pinimg.com/236x/79/e8/db/79e8dbe5b67d36cc7f8c1f80167f8bb8.jpg);
        color: transparent;
        display:inline-block;
        font-family: "Faune";
        font-size: 3em;
        font-weight: 900;
        text-size-adjust: auto;
        text-transform: uppercase;
        width: -moz-min-content;
        width: -webkit-min-content;
        width: fit-content;
  }
.daily .todaymonth {
        -ms-flex-wrap: nowrap;
        -webkit-animation-play-state: paused;
        -webkit-animation-timing-function: ease;
        -webkit-animation: 8s movebg infinite alternate;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: url(http://media-cache-ak0.pinimg.com/236x/ac/2f/cf/ac2fcfad5efdd3c7d27c9c85a18c56c4.jpg);
        color: transparent;
        display: inline-block;
        font-family: "Tracks";
        font-size: 2em;
        font-weight: 900;
        text-transform: none;
        width: -moz-min-content;
        width: -webkit-min-content;
        width: fit-content;
  }
/* ▰▰▰ LINKS STYLE ▰▰▰*/
#big-link::before {
        color: var(--main--c);
        text-shadow: .2em .2em .5em var(--main-darken), -.2em -.2em .5em var(--main-lighten);
  }
#big-link {
        -ms-flex-wrap: nowrap;
        -webkit-animation-play-state: paused;
        -webkit-animation-timing-function: ease;
        -webkit-animation: 8s movebg infinite alternate;
        -webkit-background-clip: text;
        background-clip: text;
        background-color: var(--main--b);
        background-image: url(http://media-cache-ak0.pinimg.com/236x/ac/2f/cf/ac2fcfad5efdd3c7d27c9c85a18c56c4.jpg);
        color: transparent;
        font-family: "Faune"!important;
        font-size: 1.2em;
        font-style: normal !important;
        font-weight: 900;
        padding: .30em;
        text-transform: uppercase;
  }
#big-link:hover {
      -ms-flex-wrap: nowrap;
      color: cornflowerblue;
      font-size: 1.2em;
      font-weight: 900;
      text-transform: uppercase;
      width: -moz-min-content;
      width: -webkit-min-content;
      width: fit-content;
}
#small-link {
        -webkit-animation-play-state: paused;
        -webkit-animation-timing-function: ease;
        -webkit-animation: 8s movebg infinite alternate;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: url(http://media-cache-ak0.pinimg.com/236x/ac/2f/cf/ac2fcfad5efdd3c7d27c9c85a18c56c4.jpg);
        color: transparent;
        font-family: "Tracks"!important;
        font-style: normal !important;
        font-weight: bold!important;
        width: -moz-min-content;
        width: -webkit-min-content;
        width: fit-content;
  }
#small-link:hover {
        color: cornflowerblue;
        font-weight: 900;
        width: -moz-min-content;
        width: -webkit-min-content;
        width: min-content;
  }
/* ▰▰▰ BARS ▰▰▰*/

.bars {
        background-color: var(--main--b);
        border-radius: 2rem;
        box-shadow: inset .2em .2em .5em var(--main-darken), inset -.2em -.2em .5em var(--main-lighten);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        height: 100%;
        width: 100%;
  }
.bars .bars-progres {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: .5em;
        height: 100%;
        justify-content: space-between;
        padding: 1em;
        width: 100%;
  }
.bars .bars-progres .time{
        border-radius: 1em;
        box-shadow: .2em .2em .5em var(--main-darken), -.2em -.2em .5em var(--main-lighten);
        padding: .1em;
        width: -moz-min-content;
        width: -webkit-min-content;
        width: 100%;
        width: fit-content;
  }
.bars .bars-progres .left{
        font-family: "Tracks"!important;
        font-style: normal;
        font-weight: bold;;
        text-align:center;
        width: -moz-fit-content;
        width: -webkit-fit-content;
        width: fit-content;
  }
.bars .bars-progres progress {
        -webkit-appearance: none;
        width: 100% !important;
  }
::-webkit-progress-value {
        background-image: linear-gradient(to right, #8490ff, #a3eeff);
        border-radius: 10em;
        position: absolute;
  }
::-webkit-progress-bar {
        background-color: var(--main--b);
        border-radius: 10em;
        border: 0px solid #81A1C1;
        box-shadow: .2em .2em .5em var(--main-darken), -.2em -.2em .5em var(--main-lighten);
        height: 1.3em !important;
        position: relative;
        top: 0em;
  }
